@model Microsoft.Teams.Apps.FAQPlusPlus.Configuration.Models.FeedbackTeamViewModel

@using (Ajax.BeginForm("ParseAndSaveFeedbackTeamIdAsync", "Home", new AjaxOptions { HttpMethod = "POST", OnSuccess = "onSaveSuccess", OnFailure = "onSaveFailure" }, htmlAttributes: new { @class = "formToSubmit" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group" data-form-name="feedbackteam">
        <div class="col-lg-3">
            @Html.LabelFor(model => model.FeedbackTeamId, htmlAttributes: new { @class = "font-bold" })
            <span class=" mandatoryField"></span>
        </div>
        <div class="col-lg-5">
            @Html.TextBoxFor(model => model.FeedbackTeamId, htmlAttributes: new { @class = "form-control feedbackTeamIdTextBox toggleTextBox", @placeholder = "Enter feedback team ID." })
            @Html.ValidationMessageFor(model => model.FeedbackTeamId, "", htmlAttributes: new { @class = "error-message" })
        </div>
        <div class="col-lg-1">
            <span id="feedbackteamStorageStatusIcon"></span>
        </div>
        <div class="col-lg-3">
            <input type="button" value="OK" class="btn btn-primary toggleToEditButton" id="feedbackTeamSubmitButton" />
            <span class="glyphicon glyphicon-info-sign infoSignMargin" data-toggle="tooltip" title="@Strings.FeedbackTeamIdToolTipHoverMessage"></span>
        </div>
        <div class="col-lg-offset-3 col-lg-5">
            <div id="feedbackteamStorageStatusMessage" class="error-message"></div>
        </div>
    </div>
}


